/* colores: 
#a9a39a Gris oscuro
#d0c8bd Gris claro
#df0914 Bermellón
*/
/* header */

.bodyContainer {
  background-color: #d0c8bd;
}

.headerContainer {
  background-color: rgba(141, 141, 105);
}
.buttonHeaderContainer {
  width: 141.61px;
}
.fontStyle a {
  font-size: 20px;

  color: black;
}

.fontStyle a:hover {
  color: #df0914;
}

.redesIcon a {
  color: black;
}

.redesIcon a:hover {
  color: #df0914;
}

/* media queries header*/
.redesButtonContainer {
  @media (max-width: 768px) {
    display: none;
  }
}

.fontStyle a {
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

/* main */
div.galery {
  border: ridge #df0914 2px;
  border-radius: 20px;
  height: calc(100vh - 160px);
}
div.cajasContainer {
  display: grid;
  margin: 20px auto;
  text-align: center;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;

  @media (min-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1199px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cajas {
  margin: 5px;
  padding: 10px;
}
.cajas h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cajas p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imgs {
  border-radius: 25px;
  width: 300px;
}

.butContainer {
  border-radius: 10px;
  background-color: rgba(141, 141, 105);
  margin: 5px auto;
  padding: 5px;
  border: none;
}
.butContainer a {
  color: white;
}
.butContainer a:hover {
  color: #df0914;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: dotted #fed792 2px;
}

.ubicacion {
  margin: 10px;
}

.gMaps {
  margin: 10px;
}

/* footer */
.footerContainer {
  background-color: rgba(141, 141, 105);
  padding-top: 20px;
  margin-bottom: 20px;
  height: max-content;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.horariosFooter {
  font-size: 0.7rem;
  margin: auto;
}
.logoFooterContainer {
  text-align: center;
}

.buttonsFooterContainer {
  text-align: center;
  margin: auto;
}

/* media queries footer */
.footerContainer {
  @media (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

/* styles contacto */

.cSobre {
  display: flex;
  justify-content: center;
}

.cMainContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imgSobre {
  width: 350px;
  border-radius: 120px;
  margin: 10px;
}

.cFormContainer {
  width: 75%;
  margin: 0 auto;
  background: #a9a39a;
  margin-bottom: 20px;
}

input {
  margin: 5px auto;
  width: 90%;
  text-align: center;
}
textarea {
  margin: 5px auto;
  width: 90%;
  text-align: center;
}

.butContainer:hover {
  color: #df0914;
}
